<p>Decrease {{input type="text" value=amountToDecrease placeholder="0"}} stitches evenly from {{input type="text" value=startingTotal placeholder="0"}} stitches.</p>

{{#if showDecreases}}
  <p>total remaining stitches: {{totalRemaining}}</p>
{{/if}}